.authentification {
    background: url('/public/img/villa-pied-dans-leau.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.authentification a {
    color: #fff;
}